<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.spica.weather">

    <!-- 网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 手机状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 网络状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 允许获取设备和运营商信息，用于问题排查，必选 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <permission-group android:name="${applicationId}.andpermission" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 允许读设备等信息，用于问题排查，必选 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许app联网，必选 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许获取网络状态，必选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许获取wifi网络信息，用于网络定位（无gps情况下的定位），若需网络定位则必选 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:theme="@style/Theme.SpicaWeather"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:name=".App"
        android:supportsRtl="true">

        <!-- 已适配存储分区特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9fokNjwZ20sOccj7GXblgLHEWagrebQr" />

        <activity
            android:theme="@style/SplashTheme"
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="true"
            android:launchMode="singleTask"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".ui.setting.SettingActivity" />

        <activity android:name=".ui.city.WeatherCityActivity" />

        <activity
            android:name=".ui.city.CitySelectActivity"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.about.AboutActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".ui.today.TodayWeatherActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.life.LifeActivity"
            android:theme="@style/Theme.SpicaWeather.TranslateStatusBar"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <!-- 用于初始化 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="me.spica.weather.initializer.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="me.spica.weather.initializer.CoilInitializer"
                android:value="androidx.startup" />

        </provider>
        <!-- 结束 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:foregroundServiceType="location"
            android:process=":remote" />

        <receiver
            android:name=".widget.NowWeatherProvider"
            android:label="now_weather"
            android:exported="true">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_now_weather" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DISABLED" />
            </intent-filter>

        </receiver>
    </application>

</manifest>